<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New Book</title>
</head>
<body>
<div align="center">
    <h1>New Book</h1>
     <form action="#" th:action="@{/html/addNewBook}" method="post" th:object="${book}">
        <label>Id:</label>
        <input type="text" th:field="*{bookId}" />
        <br>
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
        <br>
        <label>Author:</label>
        <input type="text" th:field="*{author.firstName}" />
        <input type="text" th:field="*{author.lastName}" />
        <br>
        <label>Publisher:</label>
        <input type="text" th:field="*{publisher}" />
        <br>
        <label>Available:</label>
        <input type="radio" th:field="*{status.available}" value="true" />True
        <input type="radio" th:field="*{status.available}" value="false"/>False
        <br>
        <label>Location:</label>
        <input type="text" th:field="*{shelfLocation.shelf}" />
        <br><br>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>