<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>New Book</title>
</head>
<body>
<div align="center">
    <h1>New Book</h1>
     <form action="#" th:action="@{/html/addNewBook}" method="post" th:object="${book}">
        <label>Title:</label>
        <input type="text" th:field="*{title}" />
        <br>
        <label>Publisher:</label>
        <input type="text" th:field="*{publisher}" />
        <br>
        <label>Location:</label>
        <input type="text" th:field="*{locationId}" />
        <br><br>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>